@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --color-brack: #000;
  --hover-color-blue: rgb(59 130 246);
  --header-height: 80px;
}

html {
  height: 100%;
}

body {
  color: var(--color-brack);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}

.link-hover {
  transition: color .2s ease;
}

.link-hover:hover {
  color: var(--hover-color-blue);
}